@import "materialize/materialize.scss";

$gold: #FFE500;

%gold {
    @extend .yellow;
    @extend .accent-4;
}
//MATERIALIZE OVERRIDES

//END OVERRIDES  

* {
    transition: color .1s, background .1s;
}

.banner {
    position: sticky;
    top:0 !important;
    z-index: 3;
    display: flex;
    align-items: center !important;
    .logo {
        position: relative;
        bottom: 9px;
        left:15px;
        display: block;
        margin: auto;
    }
    #nav-mobile {
        position: absolute;
        top:10px;
        right: 10px;
    }
}
.logo {
    filter: drop-shadow(0 2px 2px rgba(0,0,0,0.07)) drop-shadow(0 3px 1px rgba(0,0,0,0.06)) drop-shadow(0 1px 5px rgba(0,0,0,0.1));
    width: 60px;
    height: 60px;
}
div {
    font-family: Roboto, 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 15px;
    body > & {
        width: calc(100% - 40px);
        left: 20px;
        top:15px;
        position: relative;
    }
}


div.dcard {
    margin-top: 10px;
    @extend .z-depth-1-half;
    > div {
        padding: 5px 15px 15px 15px;
        .img {
            @extend .z-depth-2;
            position: relative;
            margin: auto;
            margin-top:10px;
            padding: 10px;
            width: 620px;
            > .material-placeholder {
                width:auto;
            }            
        }
        p {
            white-space: pre-wrap
        }
    }
    &:last-of-type {
        margin-bottom: 30px;
    }    
}

/*.ltext {
    font-size: 23px;
    position: relative;
    bottom:0px;
    left: 85px;
    color:black !important;
}*/

#pdropdown {
    li {
        position: relative;
        top:0px;  
        a {
            color:black;
        }  
    }
    width: auto !important;
}

#nav-mobile li {
    position: relative;
    bottom:10px;
}
.nav-wrapper {
    width:100%;
    height:calc(100% - 50px);
    padding-top:10px;
}

.header {
    font-weight: 500;
    font-size: 40px;
    border-bottom: $gold 5px solid;
    margin-bottom: 15px;
}
.subheader {
    @extend .header;
    font-size:32px;
    border-width: 3px;
    margin-bottom:10px;
}
a.subheader {
    color:black;    
}

.catheader {
    @extend .header;
    font-size: 28px;
    border-bottom: $gold 1px solid;
    margin-bottom: 4px;
}
.abriheader {
    @extend .catheader;
    font-size: 24px;
}

.footer {
    position: relative;
    bottom: 0px;
    height: 64px;
    width: 100%;
    text-align: center;
    white-space: pre-wrap;
    .button-container {
        position: absolute;
        bottom: 4px;
        left:10px;
        height: 56px;
        display: flex;
        a {
            @extend .black;
            margin-right: 10px;
        }
    }
    .logo {
        position: absolute;
        bottom: 2px;
    }
}

.download {
    position: absolute;
    left:190px;
    top:83px;
    width: 42px !important;
    height: 42px !important;
    i {
        line-height: 42px !important;
    }
}
.github {
    &.ownpage {
        @extend .download;
        left: 235px;
        img {
            top:8px;
            width:26px;
            height: 26px;
        }    
    }
    img {
        top:12px;
    }
}

.banner, .footer {
    @extend %gold;
    @extend .z-depth-2;
}