
@import "materialize/materialize.scss";

$gold: #FFE500;

%gold {
    @extend .yellow;
    @extend .accent-4;
}
//MATERIALIZE OVERRIDES

//END OVERRIDES  

.banner {
    position: sticky;
    top:0 !important;
    z-index: 3;
    display: flex;
    align-items: center !important;
    .logo {
        width: 60px;
        height: 60px;
        position: relative;
        bottom: 9px;
        left:15px;
    }
}
div {
    font-family: Roboto, 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 15px;
    body > & {
        width: calc(100% - 40px);
        left: 20px;
        top:15px;
        position: relative;
    }
}


div.dcard {
    margin-top: 10px;
    @extend .z-depth-1-half;
    > div {
        padding: 5px 15px 15px 15px;
        .img {
            @extend .z-depth-2;
            position: relative;
            margin: auto;
            margin-top:10px;
            padding: 10px;
            width: 620px;
            > .material-placeholder {
                width:auto;
            }            
        }
        p {
            white-space: pre-wrap
        }
    }
    &:last-of-type {
        margin-bottom: 30px;
    }    
}

.ltext {
    font-size: 23px;
    position: relative;
    bottom:0px;
    left: 85px;
    color:black !important;
}

#pdropdown {
    li {
        position: relative;
        top:0px;  
        a {
            color:black;
        }  
    }
    width: auto !important;
}

#nav-mobile li {
    position: relative;
    bottom:10px;
}
.nav-wrapper {
    width:100%;
    height:calc(100% - 50px);
    padding-top:10px;
}

.header {
    font-weight: 500;
    font-size: 40px;
    border-bottom: $gold 5px solid;
    margin-bottom: 15px;
}
.subheader {
    @extend .header;
    font-size:32px;
    border-width: 3px;
    margin-bottom:10px;
}
a.subheader {
    color:black;    
}
.catheader {
    @extend .header;
    font-size: 28px;
    border-bottom: $gold 1px solid;
    margin-bottom: 4px;
}
.abriheader {
    @extend .catheader;
    font-size: 24px;
}

.footer {
    position: relative;
    bottom: 0px;
    height: 110px;
    width: 100%;
    text-align: center;
    white-space: pre-wrap;
    .switch {
        position: absolute;
        bottom:3px;
        line-height: 30px;
        font-size: 12px;
        label {
            color:black;
            position: relative;
            top:-1px;
            cursor: default;
            .lever {
                cursor: pointer;
            }
        }
    }
}

.download {
    position: absolute;
    left:190px;
    top:83px;
    width: 42px !important;
    height: 42px !important;
    i {
        line-height: 42px !important;
    }
}
.github {
    @extend .download;
    left: 235px;
    img {
        top:8px;
        width:26px;
        height: 26px;
    }
}

.banner, .footer {
    @extend %gold;
    @extend .z-depth-2;
}